In [2]:
import pandas as pd
import os

# Ganti path jika Anda memindahkan file
base_path = 'E:\\BACKUP DRIVE D\\Kerjaan\\AI Engineering\\ScoreSeer'
file_path = os.path.join(base_path, 'data', 'raw', 'matches_full.csv')
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
print(df.head())

# Menampilkan informasi umum tentang DataFrame, termasuk tipe data kolom
print(df.info())

   Unnamed: 0        date   time     comp        round  day venue result   gf  \
0           0  2024-08-17  21:30  La Liga  Matchweek 1  Sat  Away      W  2.0
1           1  2024-08-24  19:00  La Liga  Matchweek 2  Sat  Home      W  2.0
2           2  2024-08-27  21:30  La Liga  Matchweek 3  Tue  Away      W  2.0
3           3  2024-08-31  17:00  La Liga  Matchweek 4  Sat  Home      W  7.0
4           4  2024-09-15  16:15  La Liga  Matchweek 5  Sun  Away      W  4.0

    ga  ...  match report  notes    sh   sot  dist   fk pk pkatt season  \
0  1.0  ...  Match Report    NaN  17.0   5.0  18.6  1.0  1     1   2025
1  1.0  ...  Match Report    NaN  13.0   5.0  16.6  0.0  0     0   2025
2  1.0  ...  Match Report    NaN  22.0   5.0  19.3  1.0  0     0   2025
3  0.0  ...  Match Report    NaN  23.0  11.0  13.7  1.0  0     0   2025
4  1.0  ...  Match Report    NaN  20.0   9.0  19.1  0.0  0     0   2025

        team
0  Barcelona
1  Barcelona
2  Barcelona
3  Barcelona
4  Barcelona

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4318 non-null   int64
 1   date           4318 non-null   object
 2   time           4318 non-null   object
 3   comp           4318 non-null   object
 4   round          4318 non-null   object
 5   day            4318 non-null   object
 6   venue          4318 non-null   object
 7   result         4318 non-null   object
 8   gf             4318 non-null   float64
 9   ga             4318 non-null   float64
 10  opponent       4318 non-null   object
 11  xg             4318 non-null   float64
 12  xga            4318 non-null   float64
 13  poss           4318 non-null   float64
 14  attendance     3344 non-null   float64
 15  captain        4318 non-null   object
 16  formation      4318 non-null   object
 17  opp formation  4318 non-null   object
 18  referee        4264 non-null   object
 19  match report   4318 non-null   object
 20  notes          0 non-null      float64
 21  sh             4318 non-null   float64
 22  sot            4318 non-null   float64
 23  dist           4315 non-null   float64
 24  fk             4318 non-null   float64
 25  pk             4318 non-null   int64
 26  pkatt          4318 non-null   int64
 27  season         4318 non-null   int64
 28  team           4318 non-null   object
dtypes: float64(11), int64(4), object(14)
memory usage: 978.4+ KB
None

In [3]:
df['date'] = pd.to_datetime(df['date'])

# Gabungkan kolom date dan time menjadi satu kolom datetime
df['datetime'] = df['date'].dt.date.astype(str) + ' ' + df['time']
df['datetime'] = pd.to_datetime(df['datetime'])

# Hapus kolom date dan time yang asli jika sudah tidak diperlukan
df = df.drop(columns=['date', 'time'])

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4318 non-null   int64
 1   comp           4318 non-null   object
 2   round          4318 non-null   object
 3   day            4318 non-null   object
 4   venue          4318 non-null   object
 5   result         4318 non-null   object
 6   gf             4318 non-null   float64
 7   ga             4318 non-null   float64
 8   opponent       4318 non-null   object
 9   xg             4318 non-null   float64
 10  xga            4318 non-null   float64
 11  poss           4318 non-null   float64
 12  attendance     3344 non-null   float64
 13  captain        4318 non-null   object
 14  formation      4318 non-null   object
 15  opp formation  4318 non-null   object
 16  referee        4264 non-null   object
 17  match report   4318 non-null   object
 18  notes          0 non-null      float64
 19  sh             4318 non-null   float64
 20  sot            4318 non-null   float64
 21  dist           4315 non-null   float64
 22  fk             4318 non-null   float64
 23  pk             4318 non-null   int64
 24  pkatt          4318 non-null   int64
 25  season         4318 non-null   int64
 26  team           4318 non-null   object
 27  datetime       4318 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 944.7+ KB
None
   Unnamed: 0     comp        round  day venue result   gf   ga  \
0           0  La Liga  Matchweek 1  Sat  Away      W  2.0  1.0
1           1  La Liga  Matchweek 2  Sat  Home      W  2.0  1.0
2           2  La Liga  Matchweek 3  Tue  Away      W  2.0  1.0
3           3  La Liga  Matchweek 4  Sat  Home      W  7.0  0.0
4           4  La Liga  Matchweek 5  Sun  Away      W  4.0  1.0

         opponent   xg  ...  notes    sh   sot  dist   fk pk pkatt season  \
0        Valencia  3.2  ...    NaN  17.0   5.0  18.6  1.0  1     1   2025
1   Athletic Club  1.8  ...    NaN  13.0   5.0  16.6  0.0  0     0   2025
2  Rayo Vallecano  1.4  ...    NaN  22.0   5.0  19.3  1.0  0     0   2025
3      Valladolid  4.7  ...    NaN  23.0  11.0  13.7  1.0  0     0   2025
4          Girona  1.9  ...    NaN  20.0   9.0  19.1  0.0  0     0   2025

        team            datetime
0  Barcelona 2024-08-17 21:30:00
1  Barcelona 2024-08-24 19:00:00
2  Barcelona 2024-08-27 21:30:00
3  Barcelona 2024-08-31 17:00:00
4  Barcelona 2024-09-15 16:15:00

[5 rows x 28 columns]

In [4]:
df['target'] = (df['result'] == 'W').astype(int)

# Menampilkan distribusi target
print(df['target'].value_counts())

# Menampilkan beberapa baris dengan kolom target baru
print(df[['result', 'target']].head())

target
0    2752
1    1566
Name: count, dtype: int64
  result  target
0      W       1
1      W       1
2      W       1
3      W       1
4      W       1

In [ ]:
# Identifikasi kolom kategorikal yang perlu di-encode
categorical_cols = ['comp', 'round', 'day', 'venue', 'opponent', 'captain', 'formation', 'opp formation', 'referee', 'team']

# Lakukan One-Hot Encoding
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Menampilkan informasi umum DataFrame setelah encoding
print(df.info())

# Menampilkan beberapa baris pertama untuk melihat kolom baru
print(df.head())