In [1]:
import pandas as pd
import os

# Ganti path jika Anda memindahkan file
base_path = 'E:\\BACKUP DRIVE D\\Kerjaan\\AI Engineering\\ScoreSeer'
file_path = os.path.join(base_path, 'data', 'raw', 'matches_full.csv')
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
print(df.head())

# Menampilkan informasi umum tentang DataFrame, termasuk tipe data kolom
print(df.info())

   Unnamed: 0        date   time     comp        round  day venue result   gf  \
0           0  2024-08-17  21:30  La Liga  Matchweek 1  Sat  Away      W  2.0
1           1  2024-08-24  19:00  La Liga  Matchweek 2  Sat  Home      W  2.0
2           2  2024-08-27  21:30  La Liga  Matchweek 3  Tue  Away      W  2.0
3           3  2024-08-31  17:00  La Liga  Matchweek 4  Sat  Home      W  7.0
4           4  2024-09-15  16:15  La Liga  Matchweek 5  Sun  Away      W  4.0

    ga  ...  match report  notes    sh   sot  dist   fk pk pkatt season  \
0  1.0  ...  Match Report    NaN  17.0   5.0  18.6  1.0  1     1   2025
1  1.0  ...  Match Report    NaN  13.0   5.0  16.6  0.0  0     0   2025
2  1.0  ...  Match Report    NaN  22.0   5.0  19.3  1.0  0     0   2025
3  0.0  ...  Match Report    NaN  23.0  11.0  13.7  1.0  0     0   2025
4  1.0  ...  Match Report    NaN  20.0   9.0  19.1  0.0  0     0   2025

        team
0  Barcelona
1  Barcelona
2  Barcelona
3  Barcelona
4  Barcelona

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4318 non-null   int64
 1   date           4318 non-null   object
 2   time           4318 non-null   object
 3   comp           4318 non-null   object
 4   round          4318 non-null   object
 5   day            4318 non-null   object
 6   venue          4318 non-null   object
 7   result         4318 non-null   object
 8   gf             4318 non-null   float64
 9   ga             4318 non-null   float64
 10  opponent       4318 non-null   object
 11  xg             4318 non-null   float64
 12  xga            4318 non-null   float64
 13  poss           4318 non-null   float64
 14  attendance     3344 non-null   float64
 15  captain        4318 non-null   object
 16  formation      4318 non-null   object
 17  opp formation  4318 non-null   object
 18  referee        4264 non-null   object
 19  match report   4318 non-null   object
 20  notes          0 non-null      float64
 21  sh             4318 non-null   float64
 22  sot            4318 non-null   float64
 23  dist           4315 non-null   float64
 24  fk             4318 non-null   float64
 25  pk             4318 non-null   int64
 26  pkatt          4318 non-null   int64
 27  season         4318 non-null   int64
 28  team           4318 non-null   object
dtypes: float64(11), int64(4), object(14)
memory usage: 978.4+ KB
None

In [2]:
df['date'] = pd.to_datetime(df['date'])

# Gabungkan kolom date dan time menjadi satu kolom datetime
df['datetime'] = df['date'].dt.date.astype(str) + ' ' + df['time']
df['datetime'] = pd.to_datetime(df['datetime'])

# Hapus kolom date dan time yang asli jika sudah tidak diperlukan
df = df.drop(columns=['date', 'time'])

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4318 non-null   int64
 1   comp           4318 non-null   object
 2   round          4318 non-null   object
 3   day            4318 non-null   object
 4   venue          4318 non-null   object
 5   result         4318 non-null   object
 6   gf             4318 non-null   float64
 7   ga             4318 non-null   float64
 8   opponent       4318 non-null   object
 9   xg             4318 non-null   float64
 10  xga            4318 non-null   float64
 11  poss           4318 non-null   float64
 12  attendance     3344 non-null   float64
 13  captain        4318 non-null   object
 14  formation      4318 non-null   object
 15  opp formation  4318 non-null   object
 16  referee        4264 non-null   object
 17  match report   4318 non-null   object
 18  notes          0 non-null      float64
 19  sh             4318 non-null   float64
 20  sot            4318 non-null   float64
 21  dist           4315 non-null   float64
 22  fk             4318 non-null   float64
 23  pk             4318 non-null   int64
 24  pkatt          4318 non-null   int64
 25  season         4318 non-null   int64
 26  team           4318 non-null   object
 27  datetime       4318 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 944.7+ KB
None
   Unnamed: 0     comp        round  day venue result   gf   ga  \
0           0  La Liga  Matchweek 1  Sat  Away      W  2.0  1.0
1           1  La Liga  Matchweek 2  Sat  Home      W  2.0  1.0
2           2  La Liga  Matchweek 3  Tue  Away      W  2.0  1.0
3           3  La Liga  Matchweek 4  Sat  Home      W  7.0  0.0
4           4  La Liga  Matchweek 5  Sun  Away      W  4.0  1.0

         opponent   xg  ...  notes    sh   sot  dist   fk pk pkatt season  \
0        Valencia  3.2  ...    NaN  17.0   5.0  18.6  1.0  1     1   2025
1   Athletic Club  1.8  ...    NaN  13.0   5.0  16.6  0.0  0     0   2025
2  Rayo Vallecano  1.4  ...    NaN  22.0   5.0  19.3  1.0  0     0   2025
3      Valladolid  4.7  ...    NaN  23.0  11.0  13.7  1.0  0     0   2025
4          Girona  1.9  ...    NaN  20.0   9.0  19.1  0.0  0     0   2025

        team            datetime
0  Barcelona 2024-08-17 21:30:00
1  Barcelona 2024-08-24 19:00:00
2  Barcelona 2024-08-27 21:30:00
3  Barcelona 2024-08-31 17:00:00
4  Barcelona 2024-09-15 16:15:00

[5 rows x 28 columns]

In [3]:
df['target'] = (df['result'] == 'W').astype(int)

# Menampilkan distribusi target
print(df['target'].value_counts())

# Menampilkan beberapa baris dengan kolom target baru
print(df[['result', 'target']].head())

target
0    2752
1    1566
Name: count, dtype: int64
  result  target
0      W       1
1      W       1
2      W       1
3      W       1
4      W       1

In [4]:
# Identifikasi kolom kategorikal yang perlu di-encode
categorical_cols = ['comp', 'round', 'day', 'venue', 'opponent', 'captain', 'formation', 'opp formation', 'referee', 'team']

# Lakukan One-Hot Encoding
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Menampilkan informasi umum DataFrame setelah encoding
print(df.info())

# Menampilkan beberapa baris pertama untuk melihat kolom baru
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Columns: 410 entries, Unnamed: 0 to team_Villarreal
dtypes: bool(391), datetime64[ns](1), float64(11), int32(1), int64(4), object(2)
memory usage: 2.2+ MB
None
   Unnamed: 0 result   gf   ga   xg  xga  poss  attendance  match report  \
0           0      W  2.0  1.0  3.2  1.0  63.0     46673.0  Match Report
1           1      W  2.0  1.0  1.8  1.0  64.0     46448.0  Match Report
2           2      W  2.0  1.0  1.4  0.4  64.0     14031.0  Match Report
3           3      W  7.0  0.0  4.7  0.5  70.0     44359.0  Match Report
4           4      W  4.0  1.0  1.9  1.3  55.0     13891.0  Match Report

   notes  ...  team_Mallorca  team_Osasuna  team_Rayo Vallecano  \
0    NaN  ...          False         False                False
1    NaN  ...          False         False                False
2    NaN  ...          False         False                False
3    NaN  ...          False         False                False
4    NaN  ...          False         False                False

   team_Real Betis  team_Real Madrid  team_Real Sociedad  team_Sevilla  \
0            False             False               False         False
1            False             False               False         False
2            False             False               False         False
3            False             False               False         False
4            False             False               False         False

  team_Valencia  team_Valladolid  team_Villarreal
0         False            False            False
1         False            False            False
2         False            False            False
3         False            False            False
4         False            False            False

[5 rows x 410 columns]

In [5]:
# Periksa nilai yang hilang di setiap kolom
missing_values = df.isnull().sum()
print("Nilai yang hilang per kolom:\n", missing_values[missing_values > 0])

# Contoh penanganan: mengisi kolom numerik 'attendance' dengan median
# (Anda bisa menyesuaikan ini berdasarkan analisis lebih lanjut)
if 'attendance' in df.columns and df['attendance'].isnull().any():
    df['attendance'] = df['attendance'].fillna(df['attendance'].median())

# Kolom 'notes' dan 'match report' kemungkinan besar tidak relevan untuk model prediksi
# dan memiliki banyak nilai NaN, jadi kita bisa menghapusnya.
df = df.drop(columns=['notes', 'match report'], errors='ignore')

print(df.info())

Nilai yang hilang per kolom:
 attendance     974
notes         4318
dist             3
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Columns: 408 entries, Unnamed: 0 to team_Villarreal
dtypes: bool(391), datetime64[ns](1), float64(10), int32(1), int64(4), object(1)
memory usage: 2.2+ MB
None

In [6]:

# Definisikan fitur (X) dan target (y)
X = df.drop(columns=['result', 'target', 'datetime'])
y = df['target']

# Pastikan semua kolom di X adalah numerik
# Hapus kolom non-numerik yang mungkin tersisa (misalnya, jika ada kolom object lain yang tidak di-encode)
non_numeric_cols = X.select_dtypes(include=['object']).columns
if len(non_numeric_cols) > 0:
    print(f"Menghapus kolom non-numerik yang tersisa: {list(non_numeric_cols)}")
    X = X.drop(columns=non_numeric_cols)

print("Bentuk X:", X.shape)
print("Bentuk y:", y.shape)
print("Kolom yang digunakan sebagai fitur:", X.columns.tolist())

Bentuk X: (4318, 405)
Bentuk y: (4318,)
Kolom yang digunakan sebagai fitur: ['Unnamed: 0', 'gf', 'ga', 'xg', 'xga', 'poss', 'attendance', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt', 'season', 'round_Matchweek 10', 'round_Matchweek 11', 'round_Matchweek 12', 'round_Matchweek 13', 'round_Matchweek 14', 'round_Matchweek 15', 'round_Matchweek 16', 'round_Matchweek 17', 'round_Matchweek 18', 'round_Matchweek 19', 'round_Matchweek 2', 'round_Matchweek 20', 'round_Matchweek 21', 'round_Matchweek 22', 'round_Matchweek 23', 'round_Matchweek 24', 'round_Matchweek 25', 'round_Matchweek 26', 'round_Matchweek 27', 'round_Matchweek 28', 'round_Matchweek 29', 'round_Matchweek 3', 'round_Matchweek 30', 'round_Matchweek 31', 'round_Matchweek 32', 'round_Matchweek 33', 'round_Matchweek 34', 'round_Matchweek 35', 'round_Matchweek 36', 'round_Matchweek 37', 'round_Matchweek 38', 'round_Matchweek 4', 'round_Matchweek 5', 'round_Matchweek 6', 'round_Matchweek 7', 'round_Matchweek 8', 'round_Matchweek 9', 'day_Mon', 'day_Sat', 'day_Sun', 'day_Thu', 'day_Tue', 'day_Wed', 'venue_Home', 'opponent_Almería', 'opponent_Athletic Club', 'opponent_Atlético Madrid', 'opponent_Barcelona', 'opponent_Betis', 'opponent_Celta Vigo', 'opponent_Cádiz', 'opponent_Eibar', 'opponent_Elche', 'opponent_Espanyol', 'opponent_Getafe', 'opponent_Girona', 'opponent_Granada', 'opponent_Huesca', 'opponent_Las Palmas', 'opponent_Leganés', 'opponent_Levante', 'opponent_Mallorca', 'opponent_Osasuna', 'opponent_Rayo Vallecano', 'opponent_Real Madrid', 'opponent_Real Sociedad', 'opponent_Sevilla', 'opponent_Valencia', 'opponent_Valladolid', 'opponent_Villarreal', 'captain_Aitor Fernández', 'captain_Aitor Ruibal', 'captain_Alberto Cifuentes', 'captain_Aleix García', 'captain_Alex Baena', 'captain_Alfonso Espino', 'captain_Anaitz Arbilla', 'captain_Ander Guevara', 'captain_Andrés Guardado', 'captain_Antonio Puertas', 'captain_Antonio Raillo', 'captain_Antonio Sivera', 'captain_Anuar', 'captain_Aritz Elustondo', 'captain_Arnau Martinez', 'captain_Asier Illarramendi', 'captain_Augusto Fernández', 'captain_Aïssa Mandi', 'captain_Bernardo Espinosa', 'captain_Borja García', 'captain_Brais Méndez', 'captain_Bruno González', 'captain_Bruno Soriano', 'captain_Carl Starfelt', 'captain_Carlos Benavídez', 'captain_Carlos Neva', 'captain_Carlos Soler', 'captain_Catena', 'captain_Chumi', 'captain_Coke', 'captain_Cristhian Stuani', 'captain_César de la Hoz', 'captain_Damián Suárez', 'captain_Dani Carvajal', 'captain_Dani Rodríguez', 'captain_Daniel Parejo', 'captain_David García', 'captain_David López', 'captain_David Soria', 'captain_David Timor', 'captain_David Zurutuza', 'captain_Diego López', 'captain_Dimitri Foulquier', 'captain_Dimitris Siovas', 'captain_Djené', 'captain_Enzo Loiodice', 'captain_Fali', 'captain_Federico Valverde', 'captain_Fernando', 'captain_Fernando Pacheco', 'captain_Fidel', 'captain_Fran Beltrán', 'captain_Fran Mérida', 'captain_Francis Coquelin', 'captain_Frenkie de Jong', 'captain_Gabriel Paulista', 'captain_Geoffrey Kondogbia', 'captain_Gerard Moreno', 'captain_Gerard Piqué', 'captain_Germán Pezzella', 'captain_Germán Sánchez', 'captain_Giorgi Mamardashvili', 'captain_Gonzalo Escalante', 'captain_Gonzalo Melero', 'captain_Gonzalo Verdú', 'captain_Guido Rodríguez', 'captain_Hugo Mallo', 'captain_Héctor Bellerín', 'captain_Iago Aspas', 'captain_Ignasi Miquel', 'captain_Igor Zubeldia', 'captain_Iker Muniain', 'captain_Isaac Carcelen', 'captain_Isaac Palazón Camacho', 'captain_Isco', 'captain_Ivan Rakitić', 'captain_Iván Marcone', 'captain_Iván Martín', 'captain_Iván Ramis', 'captain_Iván Villar', 'captain_Iñaki Williams', 'captain_Iñigo Lekue', 'captain_Iñigo Ruiz de Galarreta', 'captain_Jaime Mata', 'captain_Jan Oblak', 'captain_Jaume Costa', 'captain_Jaume Doménech', 'captain_Javi López', 'captain_Javi Moyano', 'captain_Javi Puado', 'captain_Javi Sánchez', 'captain_Jeremías Ledesma', 'captain_Jesús Navas', 'captain_Joan Jordán', 'captain_Joaquín', 'captain_Joaquín Fernández', 'captain_Jon Ander Garrido', 'captain_Jon Moncayola', 'captain_Jonathan Viera', 'captain_Jordi Alba', 'captain_Jordi Masip', 'captain_Jorge Molina', 'captain_Jorge Pulido', 'captain_Jorge Sáenz', 'captain_Josan', 'captain_Joseba Zaldúa', 'captain_Joselu', 'captain_José Luis García Vayá', 'captain_José Luis Gayà', 'captain_José Luis Morales', 'captain_José Mari', 'captain_Juan Foyth', 'captain_Juan Miranda', 'captain_Juanpe', 'captain_Karim Benzema', 'captain_Kevin Vázquez', 'captain_Kike Barja', 'captain_Kiké', 'captain_Kirian Rodríguez', 'captain_Koke', 'captain_Leandro Cabrera', 'captain_Lionel Messi', 'captain_Lucas Ocampos', 'captain_Lucas Robertone', 'captain_Lucas Torró', 'captain_Lucas Vázquez', 'captain_Luis Pérez', 'captain_Luis Rioja', 'captain_Luka Modrić', 'captain_Manolo Reina', 'captain_Manu García', 'captain_Manu Trigueros', 'captain_Marc Bartra', 'captain_Marc-André ter Stegen', 'captain_Marcelo', 'captain_Marcos Mauro López Gutiérrez', 'captain_Marcão', 'captain_Mario Gaspar', 'captain_Mario Hermoso', 'captain_Mario Suárez', 'captain_Martin Valjent', 'captain_Mikel Balenziaga', 'captain_Mikel Merino', 'captain_Mikel Oyarzabal', 'captain_Mikel Rico', 'captain_Mikel San José', 'captain_Mouctar Diakhaby', 'captain_Míchel', 'captain_Nabil Fekir', 'captain_Nacho', 'captain_Nahuel Tenaglia', 'captain_Nemanja Gudelj', 'captain_Nolito', 'captain_Oier Sanjurjo', 'captain_Pablo Fornals', 'captain_Papakouli Diop', 'captain_Pedri', 'captain_Pedro León', 'captain_Pepe Reina', 'captain_Pere Milla', 'captain_Quini', 'captain_Radamel Falcao', 'captain_Raphaël Varane', 'captain_Raphinha', 'captain_Raúl Albiol', 'captain_Raúl García', 'captain_Renato Tapia', 'captain_Rober', 'captain_Roberto Soldado', 'captain_Roberto Torres', 'captain_Robin Le Normand', 'captain_Rodrigo', 'captain_Roger Martí', 'captain_Ronald Araújo', 'captain_Roque Mesa', 'captain_Rubén Duarte', 'captain_Rubén García', 'captain_Rubén Pérez', 'captain_Salva Sevilla', 'captain_Salvi', 'captain_Sandro Ramírez', 'captain_Santi Cazorla', 'captain_Santi Comesaña', 'captain_Saúl Ñíguez', 'captain_Sergi', 'captain_Sergi Darder', 'captain_Sergi Enrich', 'captain_Sergi Gómez', 'captain_Sergi Roberto', 'captain_Sergio Busquets', 'captain_Sergio Canales', 'captain_Sergio Escudero', 'captain_Sergio Herrera', 'captain_Sergio Postigo', 'captain_Sergio Ramos', 'captain_Sergio Ruiz', 'captain_Srđan Babić', 'captain_Stefan Savić', 'captain_Thierry Correia', 'captain_Toni Kroos', 'captain_Toni Lato', 'captain_Unai Bustinza', 'captain_Unai García', 'captain_Valery Fernández', 'captain_Vicente Guaita', 'captain_Vicente Iborra', 'captain_Víctor Díaz', 'captain_Víctor Laguardia', 'captain_Víctor Sánchez', 'captain_Xisco Campos', 'captain_Yeremi Pino', 'captain_Yuri Berchiche', 'captain_Álex Fernández', 'captain_Álex Suárez', 'captain_Álvaro García', 'captain_Álvaro Negredo', 'captain_Ángel Montoro', 'captain_Édgar Badía', 'captain_Óscar Plano', 'captain_Óscar Trejo', 'captain_Óscar Valentín', 'captain_Óscar de Marcos', 'formation_3-2-4-1', 'formation_3-3-3-1', 'formation_3-4-1-2', 'formation_3-4-3', 'formation_3-4-3◆', 'formation_3-5-1-1', 'formation_3-5-2', 'formation_4-1-2-1-2◆', 'formation_4-1-3-2', 'formation_4-1-4-1', 'formation_4-2-2-2', 'formation_4-2-3-1', 'formation_4-2-4-0', 'formation_4-3-1-2', 'formation_4-3-2-1', 'formation_4-3-3', 'formation_4-4-1-1', 'formation_4-4-2', 'formation_4-5-1', 'formation_5-3-2', 'formation_5-4-1', 'opp formation_3-2-4-1', 'opp formation_3-3-3-1', 'opp formation_3-4-1-2', 'opp formation_3-4-3', 'opp formation_3-5-1-1', 'opp formation_3-5-2', 'opp formation_4-1-2-1-2', 'opp formation_4-1-3-2', 'opp formation_4-1-4-1', 'opp formation_4-2-2-2', 'opp formation_4-2-3-1', 'opp formation_4-2-4-0', 'opp formation_4-3-1-2', 'opp formation_4-3-2-1', 'opp formation_4-3-3', 'opp formation_4-4-1-1', 'opp formation_4-4-2', 'opp formation_4-5-1', 'opp formation_5-3-2', 'opp formation_5-4-1', 'referee_Alberola Rojas', 'referee_Alejandro Hernández', 'referee_Alejandro Muñíz', 'referee_Alejandro Quintero', 'referee_Antonio Matéu', 'referee_Antonio Matéu Lahoz', 'referee_Carlos del Cerro', 'referee_César Soto', 'referee_David Medié', 'referee_Eduardo Prieto', 'referee_Francisco Hernández', 'referee_Guillermo Cuadra', 'referee_Isidro Díaz de Mera', 'referee_Javier Alberola', 'referee_Javier Estrada', 'referee_Javier Villanueva', 'referee_Jesús Gil', 'referee_Jorge Figueroa', 'referee_Jose Maria Sánchez', 'referee_José González', 'referee_José Luis Munuera', 'referee_José Sánchez', 'referee_Juan Martínez', 'referee_Juan Pulido', 'referee_Mario Melero', 'referee_Mateo Busquets', 'referee_Miguel Ángel Ortiz Arias', 'referee_Pablo González', 'referee_Ricardo de Burgos', 'referee_Santiago Jaime', 'referee_Valentín Pizarro', 'referee_Víctor García', 'team_Almeria', 'team_Athletic Club', 'team_Atletico Madrid', 'team_Barcelona', 'team_Cadiz', 'team_Celta Vigo', 'team_Eibar', 'team_Elche', 'team_Espanyol', 'team_Getafe', 'team_Girona', 'team_Granada', 'team_Huesca', 'team_Las Palmas', 'team_Leganes', 'team_Levante', 'team_Mallorca', 'team_Osasuna', 'team_Rayo Vallecano', 'team_Real Betis', 'team_Real Madrid', 'team_Real Sociedad', 'team_Sevilla', 'team_Valencia', 'team_Valladolid', 'team_Villarreal']

In [8]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (3454, 405)
X_test shape: (864, 405)
y_train shape: (3454,)
y_test shape: (864,)

In [9]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the RandomForestClassifier model
model = RandomForestClassifier(n_estimators=100, min_samples_split=10, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
preds = model.predict(X_test)

print("Model training complete and predictions made.")

Model training complete and predictions made.

In [10]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix
import numpy as np

# Calculate accuracy
accuracy = accuracy_score(y_test, preds)
print(f"Accuracy: {accuracy:.4f}")

# Calculate precision, recall, and F1-score
precision = precision_score(y_test, preds)
recall = recall_score(y_test, preds)
f1 = f1_score(y_test, preds)

print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")

# Display classification report
print("\nClassification Report:")
print(classification_report(y_test, preds))

# Display confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, preds))

# Combine actual and predicted values for further analysis (optional)
combined = pd.DataFrame(dict(actual=y_test, prediction=preds))
print("\nCombined actual vs. prediction (first 5 rows):")
print(combined.head())

Accuracy: 0.9606
Precision: 0.9416
Recall: 0.9477
F1-Score: 0.9446

Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       558
           1       0.94      0.95      0.94       306

    accuracy                           0.96       864
   macro avg       0.96      0.96      0.96       864
weighted avg       0.96      0.96      0.96       864


Confusion Matrix:
[[540  18]
 [ 16 290]]

Combined actual vs. prediction (first 5 rows):
      actual  prediction
314        1           1
3704       1           1
731        0           0
151        0           0
109        0           0

In [17]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix

# Ganti path jika Anda memindahkan file
base_path = 'E:\\BACKUP DRIVE D\\Kerjaan\\AI Engineering\\ScoreSeer'
file_path = os.path.join(base_path, 'data', 'raw', 'matches_full.csv')
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
print(df.head())

# Menampilkan informasi umum tentang DataFrame, termasuk tipe data kolom
print(df.info())

# Convert 'date' column to datetime objects
df['date'] = pd.to_datetime(df['date'])

# Gabungkan kolom date dan time menjadi satu kolom datetime
df['datetime'] = df['date'].dt.date.astype(str) + ' ' + df['time']
df['datetime'] = pd.to_datetime(df['datetime'])

# Hapus kolom date dan time yang asli jika sudah tidak diperlukan
df = df.drop(columns=['date', 'time'])

print(df.info())
print(df.head())

# Create a numerical 'target' column
df['target'] = (df['result'] == 'W').astype(int)

# Display distribution of the new 'target' column
print(df['target'].value_counts())

# Display some rows with the new 'target' column
print(df[['result', 'target']].head())

# Handle missing values
# Check for NaNs
print("Missing values before handling:")
print(df.isnull().sum())

# Fill 'attendance' with its median
df['attendance'] = df['attendance'].fillna(df['attendance'].median())

# Drop 'notes' and 'match report' columns
df = df.drop(columns=['notes', 'match report'])

print("Missing values after handling:")
print(df.isnull().sum())

# Sort by team and datetime to ensure correct rolling average calculation
df = df.sort_values(by=['team', 'datetime'])

# Define columns for rolling averages
rolling_cols = ['gf', 'ga', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt', 'xg', 'xga', 'poss']

# Function to calculate rolling averages
def rolling_averages(group, cols, new_cols):
    group = group.sort_values('datetime')
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    return group

# Create new column names for rolling averages
new_cols = [f'{col}_roll' for col in rolling_cols]

# Apply the rolling averages function to each team
df_rolling = df.groupby('team', group_keys=False).apply(lambda x: rolling_averages(x, rolling_cols, new_cols))

# Drop rows with NaN values created by rolling averages (first 2 matches for each team)
df_rolling = df_rolling.dropna(subset=new_cols)

print("Rolling averages calculated and applied to the DataFrame.")
print(df_rolling.head())

# Identify categorical columns for One-Hot Encoding
categorical_cols = ['comp', 'round', 'day', 'venue', 'opponent', 'captain', 'formation', 'opp formation', 'referee', 'team']

# Perform One-Hot Encoding
df_encoded = pd.get_dummies(df_rolling, columns=categorical_cols, drop_first=True)

# Display general information about the DataFrame after encoding
print(df_encoded.info())

# Display the first few rows to see new columns
print(df_encoded.head())

   Unnamed: 0        date   time     comp        round  day venue result   gf  \
0           0  2024-08-17  21:30  La Liga  Matchweek 1  Sat  Away      W  2.0
1           1  2024-08-24  19:00  La Liga  Matchweek 2  Sat  Home      W  2.0
2           2  2024-08-27  21:30  La Liga  Matchweek 3  Tue  Away      W  2.0
3           3  2024-08-31  17:00  La Liga  Matchweek 4  Sat  Home      W  7.0
4           4  2024-09-15  16:15  La Liga  Matchweek 5  Sun  Away      W  4.0

    ga  ...  match report  notes    sh   sot  dist   fk pk pkatt season  \
0  1.0  ...  Match Report    NaN  17.0   5.0  18.6  1.0  1     1   2025
1  1.0  ...  Match Report    NaN  13.0   5.0  16.6  0.0  0     0   2025
2  1.0  ...  Match Report    NaN  22.0   5.0  19.3  1.0  0     0   2025
3  0.0  ...  Match Report    NaN  23.0  11.0  13.7  1.0  0     0   2025
4  1.0  ...  Match Report    NaN  20.0   9.0  19.1  0.0  0     0   2025

        team
0  Barcelona
1  Barcelona
2  Barcelona
3  Barcelona
4  Barcelona

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4318 non-null   int64
 1   date           4318 non-null   object
 2   time           4318 non-null   object
 3   comp           4318 non-null   object
 4   round          4318 non-null   object
 5   day            4318 non-null   object
 6   venue          4318 non-null   object
 7   result         4318 non-null   object
 8   gf             4318 non-null   float64
 9   ga             4318 non-null   float64
 10  opponent       4318 non-null   object
 11  xg             4318 non-null   float64
 12  xga            4318 non-null   float64
 13  poss           4318 non-null   float64
 14  attendance     3344 non-null   float64
 15  captain        4318 non-null   object
 16  formation      4318 non-null   object
 17  opp formation  4318 non-null   object
 18  referee        4264 non-null   object
 19  match report   4318 non-null   object
 20  notes          0 non-null      float64
 21  sh             4318 non-null   float64
 22  sot            4318 non-null   float64
 23  dist           4315 non-null   float64
 24  fk             4318 non-null   float64
 25  pk             4318 non-null   int64
 26  pkatt          4318 non-null   int64
 27  season         4318 non-null   int64
 28  team           4318 non-null   object
dtypes: float64(11), int64(4), object(14)
memory usage: 978.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4318 entries, 0 to 4317
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4318 non-null   int64
 1   comp           4318 non-null   object
 2   round          4318 non-null   object
 3   day            4318 non-null   object
 4   venue          4318 non-null   object
 5   result         4318 non-null   object
 6   gf             4318 non-null   float64
 7   ga             4318 non-null   float64
 8   opponent       4318 non-null   object
 9   xg             4318 non-null   float64
 10  xga            4318 non-null   float64
 11  poss           4318 non-null   float64
 12  attendance     3344 non-null   float64
 13  captain        4318 non-null   object
 14  formation      4318 non-null   object
 15  opp formation  4318 non-null   object
 16  referee        4264 non-null   object
 17  match report   4318 non-null   object
 18  notes          0 non-null      float64
 19  sh             4318 non-null   float64
 20  sot            4318 non-null   float64
 21  dist           4315 non-null   float64
 22  fk             4318 non-null   float64
 23  pk             4318 non-null   int64
 24  pkatt          4318 non-null   int64
 25  season         4318 non-null   int64
 26  team           4318 non-null   object
 27  datetime       4318 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 944.7+ KB
None
   Unnamed: 0     comp        round  day venue result   gf   ga  \
0           0  La Liga  Matchweek 1  Sat  Away      W  2.0  1.0
1           1  La Liga  Matchweek 2  Sat  Home      W  2.0  1.0
2           2  La Liga  Matchweek 3  Tue  Away      W  2.0  1.0
3           3  La Liga  Matchweek 4  Sat  Home      W  7.0  0.0
4           4  La Liga  Matchweek 5  Sun  Away      W  4.0  1.0

         opponent   xg  ...  notes    sh   sot  dist   fk pk pkatt season  \
0        Valencia  3.2  ...    NaN  17.0   5.0  18.6  1.0  1     1   2025
1   Athletic Club  1.8  ...    NaN  13.0   5.0  16.6  0.0  0     0   2025
2  Rayo Vallecano  1.4  ...    NaN  22.0   5.0  19.3  1.0  0     0   2025
3      Valladolid  4.7  ...    NaN  23.0  11.0  13.7  1.0  0     0   2025
4          Girona  1.9  ...    NaN  20.0   9.0  19.1  0.0  0     0   2025

        team            datetime
0  Barcelona 2024-08-17 21:30:00
1  Barcelona 2024-08-24 19:00:00
2  Barcelona 2024-08-27 21:30:00
3  Barcelona 2024-08-31 17:00:00
4  Barcelona 2024-09-15 16:15:00

[5 rows x 28 columns]
target
0    2752
1    1566
Name: count, dtype: int64
  result  target
0      W       1
1      W       1
2      W       1
3      W       1
4      W       1
Missing values before handling:
Unnamed: 0          0
comp                0
round               0
day                 0
venue               0
result              0
gf                  0
ga                  0
opponent            0
xg                  0
xga                 0
poss                0
attendance        974
captain             0
formation           0
opp formation       0
referee            54
match report        0
notes            4318
sh                  0
sot                 0
dist                3
fk                  0
pk                  0
pkatt               0
season              0
team                0
datetime            0
target              0
dtype: int64
Missing values after handling:
Unnamed: 0        0
comp              0
round             0
day               0
venue             0
result            0
gf                0
ga                0
opponent          0
xg                0
xga               0
poss              0
attendance        0
captain           0
formation         0
opp formation     0
referee          54
sh                0
sot               0
dist              3
fk                0
pk                0
pkatt             0
season            0
team              0
datetime          0
target            0
dtype: int64
Rolling averages calculated and applied to the DataFrame.
      Unnamed: 0     comp        round  day venue result   gf   ga  \
4131           3  La Liga  Matchweek 4  Sun  Home      L  0.0  1.0
4132           4  La Liga  Matchweek 5  Sun  Away      L  0.0  2.0
4133           5  La Liga  Matchweek 6  Thu  Away      L  0.0  3.0
4134           6  La Liga  Matchweek 7  Sun  Home      W  2.0  0.0
4135           7  La Liga  Matchweek 8  Sat  Away      L  1.0  2.0

           opponent   xg  ...   ga_roll   sh_roll  sot_roll  dist_roll  \
4131        Sevilla  0.8  ...  0.333333  8.000000  1.666667  15.100000
4132  Athletic Club  0.2  ...  0.666667  7.333333  1.000000  14.733333
4133  Real Sociedad  0.3  ...  1.333333  5.333333  0.666667  15.433333
4134       Mallorca  2.1  ...  2.000000  5.333333  0.333333  16.900000
4135       Valencia  1.7  ...  1.666667  6.333333  2.000000  18.700000

       fk_roll   pk_roll pkatt_roll   xg_roll  xga_roll  poss_roll
4131  0.333333  0.000000   0.000000  0.766667  0.766667  38.000000
4132  0.000000  0.000000   0.000000  0.866667  0.766667  38.333333
4133  0.000000  0.000000   0.000000  0.666667  1.500000  40.333333
4134  0.000000  0.000000   0.000000  0.433333  2.433333  41.000000
4135  0.000000  0.333333   0.333333  0.866667  2.133333  46.000000

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 4231 entries, 4131 to 128
Columns: 417 entries, Unnamed: 0 to team_Villarreal
dtypes: bool(389), datetime64[ns](1), float64(21), int32(1), int64(4), object(1)
memory usage: 2.5+ MB
None
      Unnamed: 0 result   gf   ga   xg  xga  poss  attendance    sh  sot  ...  \
4131           3      L  0.0  1.0  0.8  1.1  39.0     16309.0   7.0  0.0  ...
4132           4      L  0.0  2.0  0.2  2.4  43.0     45143.0   4.0  1.0  ...
4133           5      L  0.0  3.0  0.3  3.8  41.0     28720.0   5.0  0.0  ...
4134           6      W  2.0  0.0  2.1  0.2  54.0     17135.0  10.0  5.0  ...
4135           7      L  1.0  2.0  1.7  1.3  44.0     38943.0  10.0  4.0  ...

      team_Mallorca  team_Osasuna  team_Rayo Vallecano  team_Real Betis  \
4131          False         False                False            False
4132          False         False                False            False
4133          False         False                False            False
4134          False         False                False            False
4135          False         False                False            False

      team_Real Madrid team_Real Sociedad  team_Sevilla  team_Valencia  \
4131             False              False         False          False
4132             False              False         False          False
4133             False              False         False          False
4134             False              False         False          False
4135             False              False         False          False

      team_Valladolid  team_Villarreal
4131            False            False
4132            False            False
4133            False            False
4134            False            False
4135            False            False

[5 rows x 417 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24424\2037179696.py:71: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_rolling = df.groupby('team', group_keys=False).apply(lambda x: rolling_averages(x, rolling_cols, new_cols))

In [19]:
# ... existing code ...

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix
# ... existing code ...

from sklearn.ensemble import RandomForestClassifier

# Train the model
model = RandomForestClassifier(n_estimators=100, min_samples_split=10, random_state=1)
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)

# ... existing code for evaluation ...
# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
f1 = f1_score(y_test, predictions)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")

print("\nClassification Report:")
print(classification_report(y_test, predictions))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, predictions))

# Display actual vs. predicted values for the first few test samples
results = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})
print("\nActual vs. Predicted (first 5 samples):")
print(results.head())

# ... existing code ...

Accuracy: 0.9606
Precision: 0.9533
Recall: 0.9346
F1-Score: 0.9439

Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.97      0.97       558
           1       0.95      0.93      0.94       306

    accuracy                           0.96       864
   macro avg       0.96      0.95      0.96       864
weighted avg       0.96      0.96      0.96       864


Confusion Matrix:
[[544  14]
 [ 20 286]]

Actual vs. Predicted (first 5 samples):
      Actual  Predicted
314        1          1
3704       1          1
731        0          0
151        0          0
109        0          0

In [ ]:
# ... existing code ...

import matplotlib.pyplot as plt
import seaborn as sns

# Plot Confusion Matrix
cm = confusion_matrix(y_test, predictions)
plt.figure(figsize=(8, 6))
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues',
            xticklabels=['Predicted 0', 'Predicted 1'],
            yticklabels=['Actual 0', 'Actual 1'])
plt.title('Confusion Matrix')
plt.xlabel('Predicted Label')
plt.ylabel('True Label')
plt.show()

# ... existing code ...